h1{
    text-align: center;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
}
h2{ 
    text-align: center;
    font-size: 200%;
}
img{
    width: 900px;
    height: 500px;
    align-items: center;
}
/* Tamanho de tela para computador */
@media (min-width: 1025px) {
    /* CSS para tela de computador */
  }
  
  /* Tamanho de tela para tablet */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* CSS para tela de tablet */
  }
  
  /* Tamanho de tela para celular */
  @media (max-width: 480px) {
    /* CSS para tela de celular */
  }